spring:
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: payment-service
  profiles:
    active: dev
management:
  metrics:
    tags:
      application: ${spring.application.name}
      environment: dev