spring:
  profiles:
    active: native
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations/{profile} # location of configuration files
  # natively or by default config server should fetch/search for location of
  # our different configuration files or configuration files for each configuration
  # for each microservices in our applications
management:
  endpoints:
    web:
      exposure:
        include: '*'   # include all endpoints & show all health metrics
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: false

server:
  port: 8888

